body {
    margin: 0;
}

* {
    box-sizing: border-box;
}

.row:after {
    content: '';
    display: table;
    clear: both;
}

.column {
    float: left;
    padding: 10px;
}

.column.left {
    width: 15%;
}

.column.right {
    width: 85%;
}

.table {
    border-collapse: collapse;
    width: 100%;
}
.table tr:hover {
    background: rgb(92, 92, 92);
}

.table td, .table th {
    border: solid 1px #ddd;
    padding: 8px;
}

.table .small {
    width: 10%;
}
